@import "tailwindcss";

:root {
  --background: #a2afa2;
  --foreground: #212a21;

  --font-color: #352424;
  --button-bg: #ab703f;
  --button-hover: #985b29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font: var(--font-color);
  --color-primary: var(--button-bg);
  --color-primary-dark: var(--button-hover);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212a21;
    --foreground: #a2afa2;

    --font-color: #fff;
    --button-bg: #ab703f;
    --button-hover: #985b29;
  }
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus, 
select:focus, 
textarea:focus {
  outline: none;
  /* border-color: var(--button-bg); */
  /* box-shadow: 0 0 0 2px var(--button-bg); */
}
